/*common css start*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box; 
    

}
body{
    font-family: sans-serif;
    font-size: 16px;
    
    
}
/*common css end*/
/*header start*/
header{
    
    padding: 15px 0;
    border-bottom: 1px solid #d3d3d3;
}
.wrapper{

    max-width: 1240px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 20px;
}
.logo{
  float: left;
   width: 10%;
}
.menu{    
    float: right;
    width: 55%;
    margin-top: 20px; 
    margin-right: 22px;
}
.menu ul{
    float: right;
}
.menu ul li{   
     list-style: none;
    float: left; 
}
.menu ul li a{

  text-decoration: none;
    padding: 0px 8px;
    display: inline-block;
}
.menu ul li a:hover{
    color:#1d4bac
}
.menu ul li:last-child a{
    padding-right: 0;
} 
/*header end*/
/*banner start*/
.banner{
    padding: 70px;
}
.wrapper2{
    margin: 0 auto;
    width: 60%;  

}
.b_content{
    text-align: center;
}
.b_h1{
    font-size: 31px;
    color:#071F50;
}
.b_span{
    color: #008AFF;
    padding: 5px;
}
.b_text{ 
    margin: 0;
    color: #0f2656;
    
    padding: 10px;
    
}

.b_img img{   
     margin: 0px -123px
}
/*banner end*/
/*success start*/

.s_content{
    overflow: hidden;
}
.s_left{
    
    width: 42%;
    text-align: right;
    float: left;
}
.s_left h2{
    margin: 0;
    font-size: 50px;
    color: #F15767;
}
.s_left p{
    margin: 0;
    font-size: 18px;
    color: #0f2656;
    line-height: 28px;  
}
.s_right{
    width: 48%;
    float: right;
    padding: 0 25px 0 15px;
}
.s_right h1{
    margin: 0;
    color: #0F2656;
    font-size: 48px;
    padding: 20px;
}
/*success end*/
/*service start*/

.service{
    padding-bottom: 70px;
}

.s_single{

    width: 31.33%;
    padding:30px 20px;
    float:left;
    margin: 0 1%;
}
.s_single:last-child{
    margin-right: 0;
    background-color: #FFF6E3;
}
.pink{
    background-color: #FDEBED;
}
.green{
    
    background-color: #EBF9F4;
    
}
.yellow{
    background-color: #FFF6E3;
    
}


.s_img img{
    width: 100%;
    height: 200px;
}
.s_h2{
    font-size: 20px;
    margin: 0;
    color: #0F2656;
    margin: 15PX 0;
}
.s_text{
    font-size: 18PX;
    line-height: 22px;
    color: #0F2656;
    margin: 1px;
    
}
/*service end*/
/*fotter start*/
.f_text{
    text-align: center;
    
    
}
footer{
    padding: 30px;
      padding: 30px;
        
        color: bisque;
        font-size: 14px;
        
        background-color: #2a95f2;

}
/*fotter end*/
